#luku {
    width: 4em;
}

#hajotelma {
    position: absolute;
    bottom: 0;
}

#hajotelma-outer {
    position: relative;
    height: 1.5em;
}

#divCanvas {
    height: 300px;
}

#viivat {
    margin-left: 305px;
}

#canvas {
    position: absolute;
}

#canvasTaka {
    position: absolute;
    z-index: -1;
}

.piilota {
    display: none;
}